@use "style" as *;

$block-name: "b-news-list-title";

.#{$block-name} {
	margin-bottom: clamp(2.188rem, 1.839rem + 1.59vw, 3.75rem);
	font-family: OpenSans-SemiBold;
	font-size: 32px;
	line-height: 44px;
	font-weight: 600;
	transition: 0.3s;
}
