@use "style" as *;

$block-name: "b-forms-phone";

.#{$block-name} {
	&__input {
		@include input-style($color-accent);
	}

	&__label {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
