

/* Start:/local/components/ns/main.feedback/templates/.default/style.css?1747911113360*/
div.mfeedback {

max-width: 700px;
align-self: center;
background-color: black;
}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:100%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:60%;}
div.mf-message textarea {width: 60%;}
span.mf-req {color:yellow;}
div.mf-ok-text {color:red; font-weight:bold; padding-bottom: 1em;}

/* End */
/* /local/components/ns/main.feedback/templates/.default/style.css?1747911113360 */
