@use "style" as *;

$block-name: "b-catalog-filter_buttons";

.#{$block-name} {
	&__button {
		transition: 0.3s;
		border-radius: 3px;
		text-decoration: none;
		padding: 7px 15px;

		&--apply {
			background-color: $color-accent;
			border: 2px solid $color-accent;
			color: #fff;

			&:hover {
				background-color: #fff;
				color: $color-accent;
			}
		}

		&--reset {
			background-color: #fff;
			color: $color-accent;
			border: 2px solid $color-accent;

			&:hover {
				color: #fff;
				background-color: $color-accent;
			}
		}
	}
}
